.firstColumnPage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recordForm {
  width: 22.688em;
  height: 21.938em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 0.25em;
  padding: 2.375em 1.531em;
  outline: 0.125em solid rgb(var(--color-gray2));
  background-color: rgb(var(--color-white));
  transition: 0.2s;
}

.recordForm:hover {
  outline: 0.125em solid rgb(var(--color-pink-dark));
  box-shadow: 0em 0.25em 2em -0.75em rgba(var(--color-black), 0.3);
}

.descriptionBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.descriptionBox > label {
  color: rgb(var(--color-gray4), 1);
  font-size: 0.75em;
}

.descriptionBox > input {
  width: 100%;
  height: 3.3em;
  font-size: 1em;
  padding: 0.838em 0.938em;
  color: rgb(var(--color-gray4), 1);
  background-color: rgb(var(--color-gray1));
  border: 0.125em solid rgb(var(--color-gray1));
  border-radius: 0.5em;
  outline: none;
  transition: 0.2s;
}

.descriptionBox > input:hover {
  border: 0.125em solid rgb(var(--color-gray4));
  transform: scale(1.02);
}

.descriptionBox > input:focus {
  border: 0.125em solid rgb(var(--color-gray4));
  transform: scale(1.02);
}

.descriptionBox > p {
  color: rgb(var(--color-gray3), 1);
  font-size: 0.75em;
}

.valueBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.valueInput {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.valueInput > label {
  color: rgb(var(--color-gray4), 1);
  font-size: 0.75em;
}

.valueInput > input {
  width: 100%;
  height: 3rem;
  font-size: 1em;
  padding: 0.838em 0.938em;
  color: rgb(var(--color-gray4), 1);
  background-color: rgb(var(--color-gray1));
  border: 0.125em solid rgb(var(--color-gray1));
  border-radius: 0.5em;
  outline: none;
  transition: 0.2s;
}

.valueInput > input:hover {
  border: 0.125em solid rgb(var(--color-gray4));
  transform: scale(1.02);
}

.valueInput > input:focus {
  border: 0.125em solid rgb(var(--color-gray4));
  transform: scale(1.02);
}

.valueSelectType {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.valueSelectType > label {
  color: rgb(var(--color-gray4), 1);
  font-size: 0.75em;
}

.valueSelectType > select {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  padding: 0.838em 0.938em;
  color: rgb(var(--color-gray4), 1);
  background-color: rgb(var(--color-gray1));
  border: 0.125em solid rgb(var(--color-gray1));
  border-radius: 0.5em;
  outline: none;
  transition: 0.2s;
  cursor: pointer;
}

.valueSelectType > select:hover {
  border: 0.125em solid rgb(var(--color-gray4));
  transform: scale(1.02);
}

.valueSelectType > select:focus {
  border: 0.125em solid rgb(var(--color-gray4));
  transform: scale(1.02);
}

.insertButtonBox {
  width: 100%;
}

.insertButtonBox > button {
  width: 100%;
  height: 3em;
  font-weight: 500;
  font-size: 1em;
  color: rgb(var(--color-white));
  background-color: rgba(var(--color-pink), 1);
  border: 0.125em solid rgba(var(--color-pink), 1);
  border-radius: 0.5em;
}

@media screen and (max-width: 768px) {
  .firstColumnPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }

  .recordForm {
    width: 100%;
    min-width: 21.875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0.25em;
    padding: 2.375em 1.531em;
    border: 0.063em solid rgb(var(--color-gray2));
    background-color: rgb(var(--color-white));
  }
}

@media screen and (max-width: 500px) {
  .firstColumnPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .valueInput,
  .valueSelectType {
    width: 48%;
  }

  .recordForm {
    width: 100%;
    min-width: 15.625em;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0.25em;
    padding: 1.25rem 1.625em;
    border: 0.063em solid rgb(var(--color-gray2));
    background-color: rgb(var(--color-white));
  }
}
