.nuKenzieHeader {
  margin: 0 auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--color-gray1));
  box-shadow: 0em 0.25em 2em -0.75em rgba(var(--color-black), 0.3);
}

.nuKenzieHeaderContainer {
  width: 95%;
  height: 5.5rem;
  max-width: 81.25rem;
  display: flex;
  justify-content: space-between;
}

.logoBox,
.buttonBox {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  transition: 0.2s;
  cursor: pointer;
}
.logo:hover {
  transform: scale(1.02);
}

.logo:focus {
  transform: scale(1.02);
}

.homePageButton {
  font-weight: 600;
  font-size: 0.875em;
  text-align: center;
  padding: 0.656em 0.938em;
  border-radius: 0.5em;
  color: rgba(var(--color-gray4), 1);
  border: 0.087em solid rgba(var(--color-gray2), 1);
  background-color: rgba(var(--color-gray2), 1);
}

.homePageButton:hover {
  color: rgba(var(--color-white), 1);
  background-color: rgb(var(--color-pink));
}

@media screen and (max-width: 1024px) {
  .nuKenzieHeaderContainer {
    height: 4.375em;
  }
}
