body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
}

.userPage {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  height: 100vh;
}

.homePage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(var(--color-gray4), 1);
}

.mainContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: calc(10px + 2vmin);
  width: 95%;
  height: 100%;
  max-width: 81.25rem;
}

@media screen and (max-width: 768px) {
  .mainContainer {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: calc(10px + 2vmin);
    width: 100%;
    height: 100%;
    max-width: 95%;
  }
}

@media screen and (max-width: 500px) {
  .mainContainer {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: calc(10px + 2vmin);
    width: 100%;
    height: 100%;
    max-width: 95%;
  }
}
